@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
  height: 100vh;
  background-color: white;
  background-image: url('./assets/fondo.svg'); /* SVG de fondo */
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

header{
  display: flex;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
      padding: 10px;
      font-family: 'League Spartan', sans-serif;
      font-size: 1.3rem;
    }
  }
}

#name{
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-top: 70px;

  h1 {
    font-family: 'League Spartan', sans-serif;
    font-size:3.2rem;
  }

  h3 {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5rem;
  }
}

#logos{
  display: flex;
  gap: 6px;
}
